/** -------- Toast styles -------- */
.btn_close_toast {
  position: absolute;
  right: 1em;
  top: 0.3em;
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  z-index: 10;
}

.toast {
  animation: toast .3s forwards;
}

@keyframes toast {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}